@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SpaceMono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      local("SpaceMono-Regular"),
      url("$fonts/SpaceMono-Regular.ttf") format("ttf");
  }
  @font-face {
    font-family: "Electrolize";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      local("Electrolize-Regular"),
      url("$fonts/Electrolize-Regular.ttf") format("ttf");
  }
  @font-face {
    font-family: "SofiaSansCondensed";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      local("SofiaSansCondensed-Regular"),
      url("$fonts/SofiaSansCondensed-Regular.ttf") format("ttf");
  }

  body {
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Electrolize", sans-serif;
  }

  #app {
    margin: 0 auto;
  }
}

:root {
  --keycap-size: 4em;
}
